@import '../../scss/variable';


.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    
    height: $nav-bar-height;
    padding: 0 2rem;
    box-sizing: border-box;
    @include flex(center, space-between);
    background-color: transparent;
    transition: background-color 1s ease, height 1s ease;

   

    z-index: 9;
    
    .logo{
        @include flex(center, unset);
        cursor: pointer;
        transition: opacity 0.3s ease;
        
        img{
            max-height: 3rem;
        }
        .title{
            text-align: left;
            font-size: 1.5rem;
            color: #0065bd;
            font-weight: 700;
            
        }
        
        &:hover{
            opacity: 0.8;
        }
        
        
    }

    
    .items{
        @include flex(center, space-between);

        font-size: 1rem;
        font-weight: 600;
        
        .element{
            position: relative;
            cursor: pointer;
            display: flex;
            margin-left: 1.5rem;
            transition: color 0.5s ease;
            
            &::after{
                display: none;
                content: attr(content);
                position: absolute;
                bottom: -35px;
                border-radius: 10px 0 10px 10px;
                right: 50%;
                background-color: rgba(gray, 0.6);
                padding: 5px;
                color: white;
            }

            div{
                
                margin-left: 0.3rem;
            }
            
            
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                border: 1px solid #0065bd;
                bottom: -5px;
                
                transform: scale(0);
                transition: transform 0.5s ease;
            }
            
            &:hover::before{
                transform: scale(1);
            }
            
            &:hover{
                color: #0065bd;
            }
            @include mobile{
                .hide{
                    display: none;
                }
                &:hover::after{
                    display: block;
                }
            }
        }
        
        
        
    }
}


.shrink{
    background-color: rgba($color: rgb(230, 236, 236), $alpha: 0.8);
    height: $nav-bar-shrink-height;
}