.App {
  text-align: center;
}

.swiper-slide {
  background-color: lightblue;
  min-height: 100vh;
}

img {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}